.consumer {
    text-align: center;

    &__func {
        display: flex;
        justify-content: space-between;
    }

    &__goback {
        display: block;
        text-align: start;
        text-decoration: none;
    }

    &__clear {
        text-align: end;
        cursor: pointer;
    }

    &__heading {
        font-size: 28px;
        margin: 20px 0;
    }

    &-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        button {
            padding: 4px 12px;
        }
    }
}